<mat-card-title>
  Suppliers
</mat-card-title>

<mat-card-subtitle>
  Listing all Suppliers:
</mat-card-subtitle>

<!-- async pipe is a pipe that essentially does these three tasks:
  1) It subscribes to an observable or a promise and returns the last emitted value.
  2) Whenever a new value is emitted, it marks the component to be checked.
  That means Angular will run Change Detector for that component in the next cycle.
  3) It unsubscribes from the observable when the component gets destroyed. -->
<!-- <mat-card-content *ngIf="suppliersObservable | async; else loading"> -->
<mat-card-content *ngIf="suppliersObservable | async">
  <strong>Found {{ suppliers.length }} suppliers</strong>
  <!-- https://www.angularjswiki.com/flexlayout/basics/#fxlayout
  - row wrap, means that the components below it will be inline, and broken when the space runs out
  - fxLayoutGap has a 10px grid value which will add a gap between components -->
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div *ngFor="let supplier of suppliers">
      <!-- routerLink - when applied to an element in a template, makes that element
      a link that initiates navigation to a route.
      Navigation opens one or more routed components in one or more <router-outlet> locations on the page -->
      <a [routerLink]="['/suppliers/show', supplier.id]" style="text-decoration: none;">
        <mat-card class="blueOver">
          <mat-card-content>
            <strong>{{ supplier.contactName }}</strong>
            <br>
            {{ supplier.companyName }}
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/suppliers/new']">New Supplier</button>
  </mat-card-actions>

</mat-card-content>

<!-- With <ng-template>, you can define template content that is only being rendered by Angular
when you, whether directly or indirectly, specifically instruct it to do so,
allowing you to have full control over how and when the content is displayed -->
<!-- <ng-template #loading>
  <app-loading-bar [visible]="true"></app-loading-bar>
</ng-template> -->
