<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <!-- app-menu goes here-->
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Sales App</span>
      <div class="spacer"></div>
      <button mat-icon-button [routerLink]="['/checkout']">
        <!-- https://www.geeksforgeeks.org/matbadge-in-angular-material/ -->
        <!-- cartService injected must be public -->
        <mat-icon [matBadge]="cartService.itemsInCart" matBadgeOverlap="false"
          matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->
    <!--
    To define where Router will load the content of the component, we use the <router-outlet> tag.
    This tag will load content according to the routes variable
    -->
    <div class="m-20">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
